<div id="<%= dom_id reply %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= reply.content %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Author name:</strong>
    <%= reply.author_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Topic:</strong>
    <%= reply.topic_id %>
  </p>

</div>
